<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <a class="navbar-brand text-center" data-placement="right" href="#">Boold details</a>
  </nav>
<div class="container">
 		<div class="form-group">
    	<label for="message">Details: </label>
    	<textarea class="form-control" id="message" rows="3" placeholder="Type your message here..."></textarea>
    	<span>0 out of 160 chars used.</span>
	</div>
	<button class="form-control btn btn-primary">Send message</button>
</div>