<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
   <a class="navbar-brand text-center" href="#">Select action for patient family</a>
 </nav>
<div class="container">
		<div class="form-group">
			<button class="form-control btn btn-primary" ng-click="clickRequestToMeet()">Request to meet</button>
		</div>
		<div class="form-group">
			<button class="form-control btn btn-primary" ng-click="clickRequestMedicine()">Request for medicine</button>
		</div>
		<div class="form-group">
			<button class="form-control btn btn-primary" ng-click="clickRequestBlood()">Request for blood</button>
		</div>
		<div class="form-group">
			<button class="form-control btn btn-primary" ng-click="clickRequestCustomMsg()">Other / Custom message</button>
		</div>
		<div>
			<button class="form-control btn btn-secondary" ng-click="clickBackToPatients()">Back</button>
		</div>
</div>